/*
*.pdf
*key.txt
*.zip

# Root
!LICENSE
!README.md
!.gitignore
!project3/
!project4/
!project5/

# Directories
project3/myenv/
project3/ex00/*
project3/ex01/*
project3/ex02/*
project4/myenv/
project4/ex00/*
project4/ex01/*
project4/ex02/*
project5/myenv/
project5/ex-01/*
project5/ex00/*
project5/ex01/*
project5/ex02/*
project5/ex03/*

# Files
!project3/ex00/comparacao_modelos.txt
!project3/ex01/job_description.txt
!project3/ex01/be_structured.py
!project3/ex02/prompt_generator.py
!project4/ex00/sentiment_analyzer.py
!project4/ex01/movie_info.py
!project4/ex02/shannon_analysis.py
!project5/ex00/resume_analyzer.py
!project5/ex01/chromadb_analysis.md
!project5/ex03/project_explanation.md
!project5/ex03/requirements.txt
!project5/ex03/resume_analyzer_app.py

